extends layout

block main
  section.album-list-container
    dl.album-list
      dt#album-edit.album-list-items
        a(href=`/albums/${albumId}`) ↩ Back to album


  h2 Update your caption.
  form.forms(action=`/albums/${albumId}/images/${image.id}/update` method='post')
    dl
      dt
        label(for='newCaption') Enter your new image caption:
      dd
        input.search(type='text'
              id='newCaption'
              name='newCaption'
              placeholder='e.g sleepy kangaroo')

    fieldset.actions
      input.buttons.generate(type='submit' value='Update')


  section.album-list-container
    dl.gallery-list
      figure
        img(src=image.url alt=image.prompt)
      figcaption(style='margin-bottom: 4rem;')=image.prompt