extends layout

block main
  section.album-list-container
    dl.album-list
      dt#album-edit.album-list-items
        a(href='/albums') ↩ Back to albums
        a(href=`/albums/${album.id}/edit`) ✎ Edit Album
      if images.length === 0
        p "#{album.name}" doesn't have any images... 
          a(href='/generate') <b>create one!<b>

  if images.length > 0
    h2.album-title "#{album.name}"
  each image in images
    figure
      img(src=image.url alt=image.prompt)
    figcaption(style='word-wrap: break-word; margin: 0 2rem;')=image.prompt

    fieldset.edit-image
      form(action=`/albums/${album.id}/images/${image.id}/edit` method='get')
        ul
          li
            button.edit-image-buttons Edit
      
      form(action=`/albums/${album.id}/images/${image.id}/delete` method='post')
        ul
          li
            button.edit-image-buttons.delete Delete

  fieldset.pagination
    if (page - 1)
      a(href=`/albums/${album.id}?page=${page - 1}`) ←
    if (page + 1 <= pageCount)
      a(href=`/albums/${album.id}?page=${page + 1}`) →